<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="estiloFooter.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet"> 
    <title>footer</title>
</head>
<body>


    <p>asd</p>
    <p>asd</p>
    <p>asd</p><p>asd</p><p>asd</p><p>asd</p>
    <p>asd</p><p>asd</p>
    <p>asd</p>
    <p>asd</p>
    <br/>
    <br/>
    <br/>
    <br/>
    <p>asd</p>
    <p>asd</p>
    <p>asd</p>
    <p>asd</p><p>asd</p><p>asd</p>
    <p>asd</p>
    <p>asd</p>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <p>asd</p>
    <p>asd</p>
    <p>asd</p><p>asd</p>
    <p>asd</p><p>asd</p>
    <br/>
    <br/>
    <br/>
    <br/>
    <footer>
        <div class="headerFooter">
            <ul>
                <li>
                    <a href="#">Sobre Nosotros</a>
                </li>
                <li>
                    <a href="#">Testimonios</a>
                </li>
                <li>
                    <a href="#">Preguntas Frecuentes</a>
                </li>
                <li>
                    <a href="#">Terminos y condiciones</a>
                </li>
                <li>
                    <a href="#">Contacto</a>
                </li>
            </ul>
        </div>
        <div class="bodyFooter">
            <section class="sentenceRemextiven">
                <div style="margin-bottom: 2%;">
                    <img src="../img/logoRemextiven.png" style="width:20%;" alt="Remextiven"/>
                </div>
            </section>         
            <section class="contactRemextiven">
                <ul>
                    <li><div class="lineWithIcon"><img src="../img/icons/envelope.png" alt="Correo: "/><p>info@remextiven.com</p></div></li>
                    <li><div class="lineWithIcon"><img src="../img/icons/phone-call.png" alt="Telefono: "/><p>(598) 093834456</p></div></li>
                    <li><div class="lineWithIcon"><img src="../img/icons/placeholder.png" alt="Direccion: "/><p>Montevideo Uruguay</p></div></li>
                </ul>
            </section>

            <section class="socialIcons" style="margin-bottom: 3%;">
                <a href="#"><img src="../img/socialIcons/sombreados/linkedin.png" alt="Nuestro Linkedin"/></a>
                <a href="#"><img src="../img/socialIcons/sombreados/youtube2.png" alt="Nuestro Canal de Youtube "/></a>
                <a href="#"><img src="../img/socialIcons/sombreados/facebook.png" alt="Nuestro Facebook"/></a>
                <a href="#"><img src="../img/socialIcons/sombreados/twitter.png" alt="Nuestro Twitter"/></a>
                <a href="#"><img src="../img/socialIcons/sombreados/instagram.png" alt="Nuestro Instagram"/></a>
            </section>
        </div>
        <div class="footerFooter">
            <div class="copyright">
                <p>Copyright </p>
                <img src="../img/icons/simboloCopyrightPequeño.png" alt="Copyright "/>
                <p>2019 Remextiven. All Rights Reserved.</p>
            </div>
        </div>
    </footer>

    <!--COLORES: #E7E7E7 (BLANCO)-->
</body>
</html>