/*============================================*/
/*------------ ESTILOS DE FOOTER -------------*/
/*============================================*/

/* 

TITULOS
font-family: 'Montserrat', sans-serif;

TEXTOS 
font-family: 'Open Sans', sans-serif;   

OTROS
font-family: 'Roboto', sans-serif;


*/
body{                                       
    margin: 0;
    font-family: 'Montserrat', sans-serif !important; 
}            


/* Cabeza del footer */
.headerFooter{
    background-color: #262630;
    text-align: center !important;
    width: 100% !important;
    float: left !important;
}

.headerFooter ul{
    list-style: none;
    display: flex ;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    width: 97%;
    margin: 8px auto;
    float: left;
}

.headerFooter ul li{
    margin-left: 1%;
    margin-right: 1%;
}

.headerFooter ul li a {
    text-decoration: none;
    color: #E7E7E7;
    font-size: 14px;
}

.headerFooter ul li a:hover{
    color: #ffffff;
}
/* Fin Cabeza del footer */





/* Body footer */
.bodyFooter{
    background-color: #1b1b29;
    width: 100%;
    float: left;
    text-align: center;
    justify-content: center;

}

.socialIcons{
    margin-top: 40px;
    text-align: center;

}

.socialIcons a{
    margin: 2%;
}

.socialIcons img:hover{
    transform : scale(1.06);
    -moz-transform : scale(1.06);      /* Firefox */
    -webkit-transform : scale(1.06);   /* Chrome - Safari */
    -o-transform : scale(1.06);   
}
/*----------------*/

.sentenceRemextiven{
    float:left;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 1%;
}

.sentenceRemextiven div{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}





.contactRemextiven ul{
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    margin: 8px auto;
    float: left;
    width: 98%;
}

.contactRemextiven li{
    margin: 2%;
    text-align: center;}


.lineWithIcon{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 8px auto;
    margin: 0 auto;
    color: #E7E7E7;
}

.lineWithIcon p{
    margin: 0 auto;
}

.lineWithIcon img{
    margin-right: 5px;
}
/*----------------------------------------*/


/*--- Footer del footer ---*/

.footerFooter{
    background-color: #262630;
    float: left;
    width: 100%;
}

.copyright {
    display: flex !important;
    align-items: center !important;
    float: left !important;
    color: #E7E7E7;
    margin-left: 5px;
    font-size: 12px;
    margin: 0 auto;
}

.copyright img {
    margin-right: -4px;
    margin-left: 4px;
}

.copyright p{
    margin: 9px auto;
    margin-left: 8px;
}


/*---------------------------------------------*/